$colorPrimary: rgba(188, 231, 132, 1);
$colorLight: rgba(243, 232, 238, 1);
$colorContrast: rgb(53, 138, 166);
$colorFont: rgba(34, 34, 34, 1);
$colorBorder: rgba(71, 91, 99, 1);
$colorError: rgba(158, 43, 37, 1);

$tablet-width: 768px;
$desktop-width: 1024px;

$headerHeight: 10vh;

$days: 7;
$hoursPerDay: 12;