/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 10px; }

* {
  box-sizing: border-box;
  font-family: 'Bangers', cursive; }

body {
  background-color: #f3e8ee;
  height: 100vh;
  overflow: hidden;
  font-family: 'Bangers', cursive;
  letter-spacing: 1.2rem; }

.btn {
  min-height: 2rem;
  height: 10vh;
  min-width: 2rem;
  border: 2px outset #475b63;
  font-family: 'Bangers', cursive;
  font-weight: 100;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  background-color: transparent;
  cursor: pointer;
  width: calc(100vw / 7 * 1); }

header {
  display: flex;
  justify-content: space-between;
  background-color: #bce784;
  border-bottom: 4px dashed #475b63;
  height: 10vh; }
  header h1 {
    width: calc(100vw / 7 * 2);
    padding-left: 2rem;
    line-height: 10vh;
    font-size: 3rem;
    letter-spacing: 1rem;
    color: #358aa6; }
  header input {
    width: calc(100vw / 7 * 1);
    padding: 0 1rem;
    border: 2px outset #475b63; }
    header input::placeholder {
      font-family: 'Bangers', cursive;
      font-weight: 100;
      font-size: 1.5rem;
      letter-spacing: 0.2rem; }
  header #outputHolder {
    position: relative;
    height: 100%;
    line-height: 100%; }
    header #outputHolder #remainingChars {
      display: inline;
      position: absolute;
      top: 0.5rem;
      bottom: 0.5rem;
      padding: 0.5vh;
      vertical-align: middle;
      border-left: 2px dashed #74909c;
      color: #555555;
      cursor: pointer;
      margin-left: -5.5rem;
      font-family: 'Bangers', cursive;
      font-weight: 100;
      font-size: 1.5rem;
      letter-spacing: 0rem;
      line-height: 5.71429vh; }
    header #outputHolder #remainingChars.error {
      color: #9e2b25; }
  header #addTaskButton {
    background-color: #9e2b25;
    color: #f3e8ee;
    align-self: flex-end; }
  header #daySelect {
    padding-left: 1rem; }
    header #daySelect option {
      letter-spacing: 0.2rem; }

section.week {
  height: 80vh;
  display: flex; }
  section.week .day:nth-of-type(1):before {
    content: "Monday"; }
  section.week .day:nth-of-type(2):before {
    content: "Tuesday"; }
  section.week .day:nth-of-type(3):before {
    content: "Wednesday"; }
  section.week .day:nth-of-type(4):before {
    content: "Thursday"; }
  section.week .day:nth-of-type(5):before {
    content: "Friday"; }
  section.week .day:nth-of-type(6):before {
    content: "Saturday"; }
  section.week .day:nth-of-type(7):before {
    content: "Sunday"; }
  section.week .day {
    width: 100%;
    height: 80vh;
    border-right: 4px dotted #475b63;
    text-orientation: upright;
    color: rgba(34, 34, 34, 0.4); }
    @media (min-width: 768px) and (max-width: 1023px) {
      section.week .day {
        width: calc(100vw / 7); } }
    @media (min-width: 1024px) {
      section.week .day {
        width: calc(100vw / 7); } }
    section.week .day:before {
      position: absolute;
      top: 12vh;
      margin-left: 1vw;
      transform-origin: top left;
      transform: rotate(30deg); }
    section.week .day li[data-color="9"] {
      background-color: #002b38; }
    section.week .day li[data-color="8"] {
      background-color: #075269; }
    section.week .day li[data-color="7"] {
      background-color: #137795; }
    section.week .day li[data-color="6"] {
      background-color: #2698ba; }
    section.week .day li[data-color="5"] {
      background-color: #4daecb; }
    section.week .day li[data-color="4"] {
      background-color: #82bdce; }
    section.week .day li[data-color="3"] {
      background-color: #b1cfd8; }
    section.week .day li[data-color="2"] {
      background-color: #dae4e7; }
    section.week .day li[data-color="1"] {
      background-color: #fcfdfd; }
    section.week .day li[data-color="1"] h1, section.week .day li[data-color="1"] .descr, section.week .day li[data-color="2"] h1, section.week .day li[data-color="2"] .descr, section.week .day li[data-color="3"] h1, section.week .day li[data-color="3"] .descr {
      color: #475b63; }
    section.week .day li[data-color="1"] button .fas, section.week .day li[data-color="2"] button .fas, section.week .day li[data-color="3"] button .fas {
      color: #475b63; }
    section.week .day li {
      position: relative;
      height: 8.33333%;
      box-sizing: border-box;
      border-bottom: 2px dotted #475b63;
      background-color: #225a6c;
      writing-mode: horizontal-tb; }
      section.week .day li h1 {
        width: calc(100% - 10vh);
        overflow: hidden;
        box-sizing: border-box;
        padding: 0.5vh 1vh 0.5vh;
        font-size: 1.2rem;
        font-weight: 100;
        line-height: 1.5rem;
        letter-spacing: 0.3rem;
        color: #f3e8ee; }
      section.week .day li .descr {
        width: calc(100% - 10vh);
        padding: 0.5vh 1vw 0.5vh;
        font-size: 1rem;
        font-weight: 100;
        line-height: 1.2rem;
        letter-spacing: 0.1rem;
        color: #f3e8ee; }
      section.week .day li button {
        position: absolute;
        bottom: 0.2rem;
        float: right;
        font-family: 'Bangers', cursive;
        min-height: 20px;
        min-width: 20px;
        height: 4vh;
        width: 4vh;
        text-align: center;
        padding: 0;
        border: 0px;
        outline-width: 0; }
        section.week .day li button .fas {
          display: inline;
          line-height: 100%;
          color: #f3e8ee; }
      section.week .day li .btn.delete {
        right: 0vh; }
      section.week .day li .btn.selected {
        right: 1.8rem; }
    section.week .day .done {
      background-color: #649a1e !important; }

.addForm {
  height: 80vh;
  min-width: 32rem;
  max-width: 64rem;
  margin: 1vh auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: center; }
  .addForm input {
    display: block;
    width: 100%; }

footer {
  background-color: #222222;
  color: #f3e8ee;
  border-top: 4px dashed #475b63;
  height: 10vh;
  display: flex;
  justify-content: space-between; }
  footer p {
    text-indent: 2vw;
    line-height: 10vh;
    font-size: 1.5rem;
    letter-spacing: 1.2rem;
    float: left;
    display: block;
    width: calc(100vw / 7 * 2); }
  footer span {
    line-height: 10vh;
    font-size: 1.5rem;
    float: right;
    padding-right: 2vw; }
  footer .taskCounter {
    width: calc(100vw / 7 * 1); }
  footer #removeFinishedTasksButton {
    width: calc(100vw / 7 * 1);
    line-height: 10vh;
    background-color: #9e2b25;
    color: #f3e8ee; }
  footer #moveToDayBefore {
    background-color: #358aa6;
    color: #222222; }
  footer #moveToAnotherDay {
    background-color: #358aa6;
    color: #222222; }
  footer #save {
    background-color: #bce784;
    color: #222222; }


/*# sourceMappingURL=app.css.map*/